@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}

nav {
	background: url(../../img/wave-left.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 470px;
	width: 20%;
}

nav a {
	margin-top: -300px;
}


.container {
	margin-top: -400px;
}

.navbar {

	border: 0;
}

#heading h1 {
	color: #4bb6f2;
}

.btn-primary {
	background-color: #4bb6f2;
	border-color: #4bb6f2;
}

.navbar-brand {
	font-size: 40px;
	color: white !important;
	font-weight: bold;
	padding-left: 50px;
}


#inputs,
#input-data,
#the-message {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	width: 40%;
	margin: 30px auto
}

input {
	padding: 10px;
	margin: 5px;
}

button {
	margin-top: 20px;
}

@media (max-width: 767px) {
	body {
		background: none;
		height: 100vh
	}

	nav {
		background: url(../../img/wave-mobile-2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
		width: 100%;
	}

	nav a {
		margin-top: -50px;
	}

	.container {
		margin-top: 0px;
	}


	#inputs,
	#input-data,
	#the-message {
		width: 60%;
	}

	.navbar-brand {
		padding-left: 20px;

	}

	#heading h1 {
		font-size: 35px
	}

}